.clock {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

h2 {
    background: white;
    box-shadow: 2px 2px 0.5px 0px #c9c9c9;
    padding: 1rem 2rem;
    color: #4e4e4e;
    border: 1px solid #c9c9c9;
}